<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors>
            <error redirect="https://www.newss.com.br/index" statusCode="404" />
        </customErrors>
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://www.newss.com.br/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
